<footer class="footer">
  <p class="copyright">
    © Luiza Breier Fotografia
  </p>
  <div class="social">
    <a href="https://www.facebook.com/luiza.breier">facebook</a>
    <a href="https://www.instagram.com/lubreier/">instagram</a>
    <a href="https://500px.com/luizabreier">500px</a>
  </div>

  <div class="footer-contact">
    <p>
      <span>email:</span> <a href="mailto:luizabreier21@gmail.com">luizabreier21@gmail.com</a>
    </p>
    <p>
      <span>tel:</span> <a href="tel:+55 21 99999-9999">+55 21 99999-9999</a>
    </p>
  </div>
</footer>
