<header class="header">
  <nav class="navigation">
    <button class="hamburger hamburger--slider" type="button" id="menu">
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </button>
  </nav>

  <h1 class="logo">
    <a href="/">
      Luiza Breier
      <p>Fotografia</p>
    </a>
  </h1>

  <div class="contact">
    <p>
      <span>email:</span> luizabreier21@gmail.com
    </p>
    <p>
      <span>tel:</span> +55 21 99999-9999
    </p>
    </div>
</header>