body {
  padding-top: 57px;
}

.header-spacer {
  width: 33%;
}

.header {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.07);
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background: #fff;
  width: 100%;
  z-index: 9;
  top: 0;
}

.logo {
  width: 33%;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 0;
  line-height: 18px;
  text-align: center;

  a {
    color: $default-color;
    text-decoration: none;
  }

  p {
    margin: 0;
    font-size: 10px;
    letter-spacing: 0;
  }
}

.contact {
  width: 33%;
  text-align: right;

  a {
    color: #222;
    text-decoration: none;
  }

  p {
    font-size: 12px;
    display: inline-block;
    margin-left: 5px;
  }

  span {
    color: $light-color;
  }
}

@media screen and (max-width: 768px) {
  .logo {
    width: 100%;
  }
  .contact {
    display: none;
  }
  .header-spacer {
    display: none;
  }
}
