---
layout: "default"
---

<section class="full-banner" style="background-image: url('/images/{{ page.photosDirectory }}/{{ page.photos[0].url }}')">
</section>

<section class="details">
  <header class="details-header details-column">
    <h1>
      {{ page.title }}
    </h1>
    <hr>
    <p>
      {{ page.description }}
    </p>
  </header>

</section>

<main class="photos">
  {% for photo in page.photos %}
    {% if forloop.index != 1 %}
    <div class="photo">
      <img alt="{{ photo.description }}" src="/images/{{ page.photosDirectory }}/{{ photo.url }}" />
      <p>{{ photo.description }}</p>
    </div>
    {% endif %}
  {% endfor %}
</main>

<section class="other-projects">
  <h2>Outros Projetos</h2>
  <hr>

  <ul class="other-projects-list">
    {% assign sorted_projects = (site.projects | sort: 'order') %}
    {% for project in sorted_projects %}
      <li>
        <a href="{{ project.url }}">
          <img src="/images/{{ project.photosDirectory }}/{{ project.photos[0].url }}" alt="{{ project.photos[0].description }}" />
          <h4>{{ project.title }}</h4>
        </a>
      </li>
    {% endfor %}
  </ul>
</section>